<%- include("../partials/header") %>


<div class="main-body">

    <div class="element">

        <h2>Edit Red Panel <%= redpanel.panel %> of <%= redpanel.section.name %></h2>

        <form action="/sections/<%= redpanel.section.id %>/redPanels/<%= redpanel._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
            <table class="form-row">
                <tr>
                    <td class="form-row">
                        <label for="panel">Panel name:</label>
                    </td>
                    <td class="form-row">
                        <input type="text" id="panel" name="redPanel[panel]" value="<%= redpanel.panel %>" required onkeyup="validatePanelName(event)">
                    </td>
                </tr>
                <tr>
                    <td class="form-row">
                        <label for="TARP-triggers">TARP red trigger(s):</label>
                    </td>
                    
                    <td class="form-row">
                        <textarea name="redPanel[trigger]" id="TARP-triggers" cols="30" rows="5" required><%= redpanel.trigger %></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="form-row">
                        <label for="reportNumber">Report number:</label>
                    </td>
                    <td class="form-row">
                        <input id="reportNumber" name="redPanel[reportNumber]" type="text"
                            value="<%= redpanel.reportNumber %>" required>
                    </td>
                </tr>
                <tr>
                    <td class="form-row">
                        <label for="declaredDate">Date panel declared:</label>
                    </td>
                    <td class="form-row">
                        <input id="declaredDate" name=redPanel[declaredDate] type="datetime-local"
                            value="<%= moment(redpanel.declaredDate).format('YYYY-MM-DD') %>" required>
                    </td>
                </tr>
                <p><%= moment(redpanel.declaredDate).format("YYYY-MM-DD") %></p>
                <tr>
                    <td class="form-row">
                        <label for="reportDate">Date report issued:</label>
                    </td>
                    <td class="form-row">
                        <input id="reportDate" name=redPanel[issueDate] type="date"
                            value="<%= moment(redpanel.issueDate).format('YYYY-MM-DD') %>" required>
                    </td>
                </tr>
                <tr>
                    <td class="form-row">
                        <label for="reportAttachment">Attach report:</label>
                    </td>
                    <td class="form-row">
                        <input name="issuedReport" type="file" accept=".pdf" id="reportAttachment">
                    </td>
                </tr>
                <tr>
                    <td class="form-row" colspan="2">
                        <button style="width: 100%;" type="submit">Update!</button>
                    </td>
                </tr>
            </table>
        </form>
        <div>
            <a href="/redPanel/<%= redpanel._id %>">&#11013 Back</a>
        </div>
    </div>
</div>


<%- include("../partials/sidebar") %>
<%- include("../partials/footer") %>