<%- include("../partials/header") %>

<div class="main-body">
    <div class="element">
        <div class="element2">

            <h2>TARP Red Panels</h2>
            <p> <strong>Total number of TARP Red Panels: <%= newRedPanels.length + redpanels.length %></strong></p>



            <table>
                <colgroup>
                    <col style="background-color: grey; width: 20px;" span="<%= 6 %>">
                </colgroup>
                <tr>
                    <th colspan="4">
                        <%= newRedPanels.length %> Red Panels Awaiting Visits
                    </th>
                </tr>
                <tr>
                    <th>Panel</th>
                    <th>Section</th>
                    <th>Trigger(s)</th>
                    <th>Date Panel Declared</th>
                </tr>

                <% newRedPanels.forEach(function(red){ %>

                <tr>
                    <td>
                        <a href="/newRedPanel/<%= red._id %>"><%= red.panel %></a>
                    </td>

                    <td>
                        <%= red.section.name %>
                    </td>

                    <td>
                        <%= red.triggers %>
                    </td>

                    <td>
                        <%= red.dateDeclared.toDateString() %>
                    </td>

                </tr>
                <% }) %>

            </table>
            <br>




            <table>
                <colgroup>
                    <col style="background-color: grey; width: 20px;" span="<%= 6 %>">
                </colgroup>
                <tr>
                    <th colspan="6">
                        <%= redpanels.length %> Active TARP Red panels
                    </th>
                </tr>
                <tr>
                    <th>Panel</th>
                    <th>Section</th>
                    <th>Trigger(s)</th>
                    <th>Date Panel Declared</th>
                    <th>Date Report Issued</th>
                    <th>Age</th>
                </tr>

                <% redpanels.forEach(function(red){ %>

                <tr>
                    <td>
                        <a href="/redPanel/<%= red._id %>"><%= red.panel %></a>
                    </td>

                    <td>
                        <%= red.section.name %>
                    </td>

                    <td>
                        <%= red.trigger %>
                    </td>

                    <td>
                        <%= red.declaredDate.toDateString() %>
                    </td>

                    <td>
                        <%= red.issueDate.toDateString() %>
                    </td>

                    <td>
                        <p> <%= moment(red.issueDate).fromNow() %> </p>
                    </td>
                </tr>
                <% }) %>
            </table>

            <p>
                <a class="button" href="/sections/sectionId/newReds/new">Add New Red Panel</a>
                <hr>
                <a href="/rehabedPanels">Rehabilitated Panels</a>
            </p>
        </div>

    </div>
</div>



<%- include("../partials/sidebar") %>
<%- include("../partials/footer") %>