<%- include("../partials/header") %>


    <div class="main-body">

        <div class="element">

            <h2>Issue TARP Red Recommendation for <%= section.name %>'s <%= redPanel.panel %> Panel </h2>

            <form action="/sections/<%= section._id %>/redPanels?q=<%= queryId %>" enctype="multipart/form-data" method="POST">
                <table class="form-row">
                    <tr>
                        <td class="form-row">
                            <label for="panel-name">Panel:</label>
                        </td>
                        <td class="form-row">
                            <input type="text" id="panel-name" name="redPanel[panel]"  value="<%= redPanel.panel %>" readonly required>
                            <input type="text" name="redPanel[newRedAuthor]"  value="<%= redPanel.author.id %>" hidden required>
                        </td
                    </tr>
                    <tr>
                        <td class="form-row">
                            <label for="TARP-triggers">TARP Red Trigger(s):</label>
                        </td>
                        
                        <td class="form-row">
                            <textarea name="redPanel[trigger]" id="TARP-triggers" cols="30" rows="5" required readonly><%= redPanel.triggers %></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="form-row">
                            <label for="report-number">Report Number:</label>
                        </td>
                        <td class="form-row">
                            <input name="redPanel[reportNumber]" id="report-number" type="text" required>
                        </td>
                    </tr>
                    <tr>
                        <td class="form-row">
                            <label for="declaredDate">Date Panel Declared:</label>
                        </td>
                        <td class="form-row">
                            <input name="redPanel[declaredDate]" id="declaredDate" type="date" value="<%= moment(redPanel.dateDeclared).format('YYYY-MM-DD')%>" readonly required>
                        </td>
                    </tr>
                    <tr>
                        <td class="form-row">
                            <label for="reportDate">Date Report Issued:</label>
                        </td>
                        <td class="form-row">
                            <input id="reportDate" name="redPanel[issueDate]" min="<%= moment(redPanel.dateDeclared).format('YYYY-MM-DD') %>" type="datetime-local" required>
                        </td>
                    </tr>
                    <tr>
                        <td class="form-row">
                            <label for="reportAttachment">Attach report:</label>
                        </td>
                        <td class="form-row">
                            <input id="reportAttachment" name="issuedReport" type="file" accept=".pdf" required>
                        </td>
                    </tr>
                    <tr>
                        <td class="form-row" colspan="2">
                            <button style="width: 100%;" type="submit">Submit</button>
                        </td>
                    </tr>
                </table>
            </form>
            <div>
                <a href="/newRedPanel/<%= queryId %>">&#11013 Back</a>
            </div>
        </div>
    </div>

<%- include("../partials/sidebar") %>


<%- include("../partials/footer") %>