<%- include("../partials/header") %>

<div class="main-body">

   <div class="element">
      <div>
         <h1>TARP Red Panel <%= redPanel.panel %> of: <%= redPanel.section.name %></h1>
         <p>Trigger(s) - <%= redPanel.trigger %></p>
         <p>Report number - <%= redPanel.reportNumber %></p>
         <p>Date report issued - <%= redPanel.issueDate.toDateString() %></p>
         
         <p>
         <form action="/sections/<%= redPanel.section.id %>/redPanels/<%= redPanel._id %>/download" method="get">
            <button type="submit">Download Recommendation</button>
         </form>
         <br>
         <form action="/sections/<%= redPanel.section.id %>/redPanels/<%= redPanel._id %>/rehabedPanel/new" method="GET">
            <button type="submit">Rehabilitated</button>
         </form>
         </p>

      </div>

      <% if( currentUser && redPanel.author.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
      <form action="/sections/<%= redPanel.section.id %>/redPanels/<%= redPanel._id %>?_method=DELETE" method="POST">
         <button id="delete" type="submit">Delete</button>
      </form>
      <p>
         <a href="/sections/<%= redPanel.section.id %>/redPanels/<%= redPanel._id %>/edit">Edit</a>
      </p>
      <% } %>

   </div>

</div>


<%- include("../partials/sidebar") %>
<%- include("../partials/footer") %>