<%- include("../partials/header") %>

<div class="main-body">

   <div class="element">
      <div>
         <h1>TARP Red Panel <%= redPanel.panel %> of: <%= redPanel.section.name %></h1>
         <p>Trigger(s) - <%= redPanel.trigger %></p>
         <p>Report number - <%= redPanel.reportNumber %></p>
         <p>Date report issued - <%= redPanel.issueDate.toDateString() %></p>
         <!-- <p>Download report - <%= redPanel.issuedReport %></p> -->
         <p>
         <form action="/sections/<%= redPanel.section.id %>/redPanels/<%= redPanel._id %>/download">
            <button type="submit">Download Recommendation</button>
         </form>
         </p>

      </div>

      <form action="/sections/<%= redPanel.section.id %>/redPanels/<%= redPanel._id %>?_method=DELETE" method="POST">
         <button type="submit">Rehabilitated</button>
      </form>
      <p>
         <a href="/sections/<%= redPanel.section.id %>/redPanels/<%= redPanel._id %>/edit">Edit</a>
      </p>

      <!-- <form action="/sections/<%= redPanel.section.id %>/rehabs/<%= redPanel._id %>/now_rehabed" action="" method="get">
            <button type="submit">Rehabilitated!</button>
         </form> -->

   </div>

</div>


<%- include("../partials/sidebar") %>
<%- include("../partials/footer") %>