<%- include("../partials/header") %>

<div class="main-body">
    <div class="element">

        <h2>Edit <%= section.name %> Section</h2>

        <form action="/sections/<%= section._id %>?_method=PUT" method="post">
            <table class="form-row">
                <tr>
                    <td class="form-row">
                        <label for="section">Section:</label>
                    </td>
                    <td class="form-row">
                        <input id="section" type="text" name="section[name]" onkeyup="validatePanelName(event)" value="<%= section.name %>">
                    </td>
                </tr>
                <tr>
                    <td class="form-row">
                        <label for="mineOverseer">Mine Overseer:</label>
                    </td>
                    <td class="form-row">
                        <select name="section[mineOverseer]" id="mineOverseer">
                            <option value="<%= section.mineOverseer._id %>" selected><%= section.mineOverseer.name %></option>
                            <% mineOverseers.forEach(mo => { %>
                                <option value="<%= mo._id %>"><%= mo.username %></option>
                            <% }) %>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="form-row">
                        <label for="budget">Budget:</label>
                    </td>
                    <td class="form-row">
                        <input id="budget" type="number" step="0.1" min="0" name="section[budget]"
                            value="<%= section.budget %>">
                    </td>
                </tr>
                <tr>
                    <td class="form-row">
                        <label for="forecast">Forecast:</label>
                    </td>
                    <td class="form-row">
                        <input id="forecast" type="number" step="0.1" min="0" name="section[forecast]"
                            value="<%= section.forecast %>">
                    </td>
                </tr>
                <tr>
                    <td class="form-row">
                        <label for="advance">Planned Advance:</label>
                    </td>
                    <td class="form-row">
                        <input id="advance" type="number" step="0.1" min="0" name="section[plannedAdvance]"
                            value="<%= section.plannedAdvance %>">
                    </td>
                </tr>
                <tr>
                    <td class="form-row" colspan="2">
                        <input style="width: 100%;" type="submit" value="Update">
                    </td>
                </tr>
            </table>
        </form>

        <div>
            <p>
                <a href="/sections/<%= section._id%>">&#11013 Back</a>
            </p>
        </div>

    </div>
</div>


<%- include("../partials/sidebar") %>
<%- include("../partials/footer") %>