<%- include("../partials/header") %>

<div class="main-body">
    <div class="element">
        <h3>Sections: <%= sections.length %></h3>
        <hr>
        <% if(!sections){ %>
            <div>
                <p>
                    No Sections 
                </p>
            </div>
        <% } else { %>
            <div>
                <% sections.forEach(function(section, index, array){ %>

                    <% if (index === 0) { %>
                        <a href="/sections/<%= section._id %>"><%= section.name%></a>
                    <% } %>

                    <% if (index !== 0) { %>
                        | <a href="/sections/<%= section._id %>"><%= section.name%></a>
                    <% } %>

                <% }) %>
            </div>
        <% } %>
        

        <% if(currentUser && currentUser.isAdmin){ %>
        <br>
        <a class="button" href="/sections/new">Add New Section</a>
        <%} %>
    </div>
</div>


<%- include("../partials/sidebar") %>
<%- include("../partials/footer") %>