<%- include("../partials/header") %>

<div class="main-body">

    <div class="element">

        <h3>Select A Section</h3>

        <% if(!sections){ %>
           <% return %> <p>No Section</p>
        <% } else { %>
            <div>
                <% sections.forEach(function(section){ %>
                    <a href="/sections/<%= section._id %>"><%= section.name %></a> |
                <% }) %>
            </div>
        <% } %>
        
        <!-- <div>
            <% sections.forEach(function(section){ %>
                <a href="/sections/<%= section._id %>"><%= section.name %></a> |
            <% }) %>
        </div> -->

        <br>

        <a class="button" href="/sections/new">Add New Section</a>

    </div>

</div>


<%- include("../partials/sidebar") %>
<%- include("../partials/footer") %>