<%- include("../partials/header") %>

<div class="main-body">
    <div class="element">
        <!-- <h4>Select A Section</h4> -->
        <legend><strong>Choose Section</strong></legend>
        <hr>
        <% if(!sections){ %>
        <p>No Sections</p>
        <% } else { %>
        <div>
            <% sections.forEach(function(section){ %>
            <a href="/sections/<%= section._id %>"><%= section.name %></a> |
            <% }) %>
        </div>
        <% } %>

        <br>
        <% if(currentUser && currentUser.isAdmin){ %>
        <a class="button" href="/sections/new">Add New Section</a>
        <%} %>
    </div>
</div>


<%- include("../partials/sidebar") %>
<%- include("../partials/footer") %>