<%- include("../partials/header") %>

<div class="main-body">
    <div class="element">
        <h2><%= section.name %></h2>
        <hr>
        <div>
            <% function subtract2Times (a, b){ %>
            <% const bSplitted = b.split(":"); %>
            <% const bSplittedHours = Number(bSplitted[0]); %>
            <% const bSplittedMinutes = Number(((Number(bSplitted[1]) / 60)).toFixed(10)); %>
            <% const duration = a - bSplittedHours - bSplittedMinutes %>
            <% const hours = Math.floor(duration).toLocaleString("en-US", { minimumIntegerDigits: 2, useGrouping: false }); %>
            <% const minutes = Number((duration - hours).toFixed(10)); %>
            <% const minutesConverted = Math.round(minutes * 60).toLocaleString("en-US", { minimumIntegerDigits: 2, useGrouping: false }); %>
            <% const result = `${hours}:${minutesConverted}` %>
            <% return result; %>
            <% } %>
            <table class="form-row">
                <tr>
                    <td class="form-row">Mine Overseer:</td>
                    <td class="form-row"><%= locals.section.mineOverseer.name %></td>
                </tr>
                <tr>
                    <td class="form-row">Planned advance/blast:</td>
                    <td class="form-row"><%= locals.section.plannedAdvance  %> m</td>
                </tr>
                <tr>
                    <td class="form-row">Daily target (Blast):</td>
                    <td class="form-row"><%= locals.section.forecast %> <span>m<sup>2</sup></span></td>
                </tr>
                <tr>
                    <td class="form-row">Traveling duration (to & from) (hh:mm):</td>
                    <td class="form-row"><%= locals.section.travelingTime %></td>
                </tr>
                <tr>
                    <td class="form-row">Pre-shift meeting duration (hh:mm):</td>
                    <td class="form-row"><%= locals.section.meetingDuration %></td>
                </tr>
                <tr>
                    <td class="form-row">EEE duration (hh:mm):</td>
                    <td class="form-row"><%= locals.section.EEEDuration %></td>
                </tr>
                <tr>
                    <td class="form-row">Unusable shift duration (hh:mm):</td>
                    <td class="form-row"><%= locals.section.unusableTime %></td>
                </tr>
                <% locals.shifts.forEach(shift => { %>
                <tr>
                    <td class="form-row"><%= shift.name %> shift facetime (hh:mm):</td>
                    <td class="form-row"><%= subtract2Times(shift.duration, locals.section.unusableTime) %></td>
                </tr>
                <% }) %>
            </table>
        </div>

        <hr>
        <div>
            <a href="/sections">Sections</a>
        </div>

        <% if(locals.currentUser && locals.currentUser.isAdmin){ %>
        <div class="admin">
            <p>
                <a href="/sections/<%= section._id %>/edit">Edit</a>
            </p>
            <form action="/sections/<%= section._id %>?_method=DELETE" method="post">
                <button style="display: none;" id="delete-confirm" type="submit">Delete</button>
                <button id="delete" onclick="showModal()" type="button">Delete</button>
            </form>
        </div>
        <%}%>


    </div>
</div>


<%- include("../partials/sidebar") %>
        <%- include("../partials/footer") %>