<%- include("../partials/header") %>

<div class="main-body">
    <div class="element">
        <div class="element2">
            <p id="foundBreakdowns" style="display: none;">
                <%= JSON.stringify(foundBreakdowns) %>
            </p>
            <p id="foundShifts" style="display: none;">
                <%= JSON.stringify(foundShifts) %>
            </p>
            <p id="foundFleetUtils" style="display: none;">
                <%= JSON.stringify(foundFleetUtils) %>
            </p>
            <p id="foundTMM" style="display: none;">
                <%= JSON.stringify(tmm) %>
            </p>
            <p id="allocations" style="display: none;">
                <%= JSON.stringify(allocations) %>
            </p>

            <h2><%= locals.tmm.name %></h2>
            <div>
                <label for=""><small>From:</small></label>
                <input type="date" name="" id="startdate" value="2022-06-01" onchange="drawEffGraph2()" oninput="filterBreakdowns2()">
                <label for=""><small>To:</small></label>
                <input type="date" name="" id="enddate" onchange="drawEffGraph2()" oninput="filterBreakdowns2()">
                <label for=""><small>Shift:</small></label>
                <select name="" id="shifts" onchange="drawEffGraph2()" oninput="filterBreakdowns2()">
                    <% locals.foundShifts.forEach(el => { %>
                        <option value="<%=el.name%>"><%=el.name%></option>
                    <% }) %>
                </select>
            </div>
            <br>
            <div id="table">

            </div>

            <table style="display: none;">
                <thead>
                    <tr>
                        <th>Shift</th>
                        <th>Availability (%)</th>
                        <!-- <th>Utilisation (%)</th> -->
                        <!-- <th>Efficiency (%)</th> -->
                        <!-- <th>Production eff</th>
                        <th>Overall effectiveness</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <%= "MORNING" %>
                        </td>
                        <td id="morning-availability" class="availability">
                        </td>
                        <!-- <td id="morning-utilisation" class="utilisation">
                        </td> -->
                        <!-- <td id="morning-reliability">
                        </td> -->
                        <!-- <td id="morning-efficiency" class="efficiency">
                        </td> -->
                    </tr>
                    <tr>
                        <td>
                            <%= "AFTERNOON" %>
                        </td>
                        <td id="afternoon-availability" class="availability">
                        </td>
                        <!-- <td id="afternoon-utilisation" class="utilisation">
                        </td> -->
                        <!-- <td id="afternoon-reliability">
                        </td> -->
                        <!-- <td id="afternoon-efficiency" class="efficiency">
                        </td> -->
                    </tr>
                    <tr>
                        <td>
                            <%= "NIGHT" %>
                        </td>
                        <td id="night-availability" class="availability">
                        </td>
                        <!-- <td id="night-utilisation" class="utilisation">
                        </td> -->
                        <!-- <td id="night-reliability">
                        </td> -->
                        <!-- <td id="night-efficiency" class="efficiency">
                        </td> -->
                    </tr>
                </tbody>
            </table>
            <% if (locals.tmm.parentCategory) { %>
                <div id="canvasDiv" style="margin-top: 20px;">
                    <canvas style="display: none;" id="effGraph" width="393.219px">
    
                    </canvas>
                    <canvas id="effGraph2" width="393.219px">
    
                    </canvas>
                </div>
            <% } %>

            <br>
            <p>
                <a href="/tmms">Dashboard</a>
            </p>
            <% if (locals.currentUser && locals.currentUser.isAdmin) { %>
               <div class="admin">
                    <a href="/tmm/<%= tmm._id %>/edit">Edit</a>
                    <form action="/tmm/<%= tmm._id %>/?_method=DELETE" method="POST">
                        <button id="delete" type="submit">Delete!</button>
                    </form>
                </div>
            <% } %>
        </div>
    </div>
</div>


<%- include("../partials/sidebar") %>
<%- include("../partials/footer") %>