<%- include("../partials/header") %>

<div class="main-body">
    <div class="element">
        <h2>Edit Production Shift</h2>
        <div class="fromDB">
            <% const year = foundDate.date.getFullYear() %> 
            <% const month = (foundDate.date.getMonth() + 1).toLocaleString("en-US", { minimumIntegerDigits: 2, useGrouping: false }) %> 
            <% const day = foundDate.date.getDate().toLocaleString("en-US", { minimumIntegerDigits: 2, useGrouping: false }) %> 
            <% const date = `${year}-${month}-${day}` %> 
        </div>
        <form action="/productionCalendar/<%= foundDate._id %>?_method=PUT" method="post">
            <div class="flex-form">
                <div class="flex-row">
                    <label for="blastingDay">Production Day:</label>
                    <input type="date" name="productionShift[date]" id="blastingDay" value="<%= date %>" required>
                </div>
                <div class="flex-row">
                    <label for="blastingShift">Production Shift?:</label>
                    <select name="productionShift[isProductionShift]" id="blastingShift" required>
                        <option disabled value="">Select Yes/No</option>
                        <% if (foundDate.isProductionShift) { %>
                            <option selected value="true">Yes</option>
                            <option value="false">No</option>
                        <% } %>
                        <% if (!foundDate.isProductionShift) { %>
                            <option value="true">Yes</option>
                            <option selected value="false">No</option>
                        <% } %>
                    </select>
                </div>
                <div class="flex-row">
                    <input type="submit" value="Submit">
                </div>
            </div>
        </form>
        <div>
            <a href="/productionCalendar/">Dashboard</a>
        </div>
    </div>
</div>



<%- include("../partials/sidebar") %>
<%- include("../partials/footer") %>