<%- include("../partials/header") %>

<div class="main-body">
	<div class="element">
		<div class="element2">
			<div id="fromDB" style="display: none;">
				<p id="shiftData">
					<%= JSON.stringify(foundShifts) %> 
				</p>
				<p id="allBreakdowns">
					<%= JSON.stringify(allBreakdowns) %> 
				</p>
				<p id="closedBreakdowns">
					<%= JSON.stringify(closedBreakdowns) %> 
				</p>
			</div>
			<h2>Breakdowns</h2>
			<div>
				<input type="date" max="" id="breakdown-date" name="" oninput="breakdownFilter(this.value, <%= JSON.stringify(allBreakdowns) %>, <%=  JSON.stringify(closedBreakdowns) %>)" />
				<input type="radio" class="breakdownShift" name="breakdownShift" id="morningBreakdowns" value="morning" checked onchange="document.getElementById('breakdown-date').oninput()" />
				<label for="morningBreakdowns">Day Shift</label>
				<input type="radio" class="breakdownShift" name="breakdownShift" id="afternoonBreakdowns" value="afternoon" onchange="document.getElementById('breakdown-date').oninput()" />
				<label for="afternoonBreakdowns">Afternoon Shift</label>
				<input type="radio" class="breakdownShift" name="breakdownShift" id="nightBreakdowns" value="night" onchange="document.getElementById('breakdown-date').oninput()" />
				<label for="nightBreakdowns">Night Shift</label>
			</div>
			<br>

			<section id="all-breakdowns" class="element2"></section>

			<p>
				<a class="button" href="/breakdowns/new">Add New Breakdown</a>
			</p>
		</div>
	</div>
</div>

<%- include("../partials/sidebar") %> <%- include("../partials/footer") %>
