<%- include("../partials/header") %>

<div class="main-body">
    <div class="element">
        <div>
            <h2>Open Breakdown: <%= breakdown.equipment %> at <%= breakdown.section.name %></h2>
            <p>Date: - <%= breakdown.startTime.toDateString()%></p>
            <p>Shift: - <%= locals.breakdown.shift %></p>
            <p>Start time: - <%= breakdown.start %></p>
            <p>Description: - <%= breakdown.description %></p>
            <p>Reported by: - <%= locals.breakdown.operator %></p>
            <p>Reference number: - <%= breakdown.orderRef %></p>
            <!-- Show this 30 minutes before end of shift -->
            
         </div>
         <% if (locals.currentUser) { %>
				<% const occ = ["Operator(Control Room)", "Coordinator(Electrical)", "Coordinator(Mechanical)", "Coordinator(TMM)", "GES"]%>
				<% if (locals.currentUser.isAdmin ||  occ.indexOf(locals.currentUser.occupation) > -1) { %>
               <p>
                  <a title="Move to next shift" href="/breakdowns/<%= breakdown._id %>/edit?query=next">&#128256</a>
               </p>
               <a href="/sections/<%= breakdown.section.id %>/closedBreakdowns/new?q=<%= breakdown._id %>">Close Breakdown</a>
            <% } %>
         <% } %>
        <hr>
      <div>
            <a href="/breakdowns">Dashboard</a>
      </div>

      <% if(currentUser && breakdown.author.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
         <p>
            <a href="/breakdowns/<%= breakdown._id %>/edit">Edit</a>
         </p>
         <form action="/breakdowns/<%= breakdown._id %>?_method=DELETE" method="POST">
            <button id="delete" type="submit">Delete</button>
         </form>
      <% } %>

   </div>
    </div>
</div>


<%- include("../partials/sidebar") %>
<%- include("../partials/footer") %>