<%- include("../partials/header") %>

<div class="main-body">
    <div class="element">
        <div class="element2">
            <form class="new-production"
                action="/sections/<%= production.section.id %>/production/<%= production._id %>?_method=PUT"
                method="post">

                <h2>Edit <%= production.section.name %>'s Production Report</h2>
                <h3><%= production.created.toDateString() %></h3>
                <div class="shift">
                    <input type="radio" name="production[general][1][shift]" id="morning" value="morning">
                    <label for="morning">Morning Shift</label>
                    <input type="radio" name="production[general][1][shift]" id="backshift" value="backshift" required>
                    <label for="afternoon">Back Shift</label>
                </div>

                <br>

                <button type="button" class="collapsible">Blasted Panels Report</button>
                <div class="content" id="blast-report">
                    <table class="form-row">
                        <tbody>
                            <% let num = 0 %>
                            <% production.blast.forEach(b=>{ %>
                            <% num++ %>
                            <tr id="inputs" class="form-row">
                                <td class="form-row">
                                    <input type="text" id="panel" name="production[blast][<%= num %>][panel]"
                                        placeholder="panel_name" value="<%= b.panel %>" required>
                                </td>
                                <td class="form-row">
                                    <input type="number" id="length" name="production[blast][<%= num %>][length]"
                                        placeholder="metres" value="<%= b.length %>" required>
                                </td>
                                <td class="form-row">
                                    <input type="button" id="addPanel" value="+ panel"
                                        onClick="addAnotherField(parentNode.parentNode.parentNode.parentNode.parentNode)">
                                </td>
                            </tr>
                            <% }) %>

                        </tbody>
                    </table>
                </div>
                <button type="button" class="collapsible" id="clean-report">Cleaned Panels Report</button>
                <div class="content">
                    <table class="form-row">
                        <tbody>
                            <!-- <% let clean = 0 %> -->
                            <% production.clean.forEach(c=>{ %>
                            <% num++ %>
                            <tr class="form-row">
                                <td class="form-row">
                                    <input type="text" id="panel" name="production[clean][<%= num %>][panel]"
                                        placeholder="panel_name" value="<%= c.panel %>" required>
                                </td>
                                <td class="form-row">
                                    <input type="number" id="length" name="production[clean][<%= num %>][length]"
                                        placeholder="metres" value="<%= c.length %>" required>
                                </td>
                                <td class="form-row">
                                    <input type="number" id="advance" name="production[clean][<%= num %>][advance]"
                                        placeholder="advance" step="0.1" value="<%= c.advance%>" required>
                                </td>
                                <td class="form-row">
                                    <input type="button" id="add"
                                        onClick="addAnotherClean(parentNode.parentNode.parentNode.parentNode.parentNode)"
                                        value="+ panel">
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
                <button type="button" class="collapsible" id="support-report">Supported Panels Report</button>
                <div class="content">
                    <table class="form-row">
                        <tbody>
                            <% production.support.forEach(s=>{ %>
                            <% num++ %>

                            <tr class="form-row">
                                <td class="form-row">
                                    <input type="text" id="panel" name="production[support][<%= num %>][panel]"
                                        placeholder="panel_name" value="<%= s.panel %>" required>
                                </td>
                                <td class="form-row">
                                    <input type="number" id="length" name="production[support][<%= num %>][length]"
                                        placeholder="metres" value="<%= s.length %>" required>
                                </td>
                                <td class="form-row">
                                    <input type="button" id="add"
                                        onClick="addAnotherSupport(parentNode.parentNode.parentNode.parentNode.parentNode)"
                                        value="+ panel">
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
                <button type="button" class="collapsible" id="drill-report">Drilled Panels Report</button>
                <div class="content">
                    <table class="form-row">
                        <tbody>
                            <% production.drill.forEach(d=>{ %>
                            <% num++ %>

                            <tr class="form-row">
                                <td class="form-row">
                                    <input type="text" id="panel" name="production[drill][<%= num %>][panel]"
                                        placeholder="panel_name" value="<%= d.panel %>" required>
                                </td>
                                <td class="form-row">
                                    <input type="number" id="length" name="production[drill][<%= num %>][length]"
                                        placeholder="metres" value="<%= d.length %>" required>
                                </td>
                                <td class="form-row">
                                    <input type="button" id="add"
                                        onClick="addAnotherDrilled(parentNode.parentNode.parentNode.parentNode.parentNode)"
                                        value="+ panel">
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
                <button type="button" class="collapsible" id="prepared-report">Prepared Panels (Marked)</button>
                <div class="content">
                    <table class="form-row">
                        <tbody>
                            <% production.prep.forEach(p=>{ %>
                            <% num++ %>
                            <tr class="form-row">
                                <td class="form-row">
                                    <input type="text" id="panel" name="production[prep][<%= num %>][panel]"
                                        placeholder="panel_name" value="<%= p.panel %>" required>
                                </td>
                                <td class="form-row">
                                    <input type="number" id="length" name="production[prep][<%= num %>][length]"
                                        placeholder="metres" value="<%= p.length %>" required>
                                </td>
                                <td class="form-row">
                                    <input type="button" id="add"
                                        onClick="addAnotherPrepared(parentNode.parentNode.parentNode.parentNode.parentNode)"
                                        value="+ panel">
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
                <button type="button" class="collapsible" id="notClean-report">Not Cleaned Report (Including
                    Backlash)</button>
                <div class="content">
                    <table class="form-row">
                        <tbody>
                            <% production.notClean.forEach(nc=>{ %>
                            <% num++ %>
                            <tr class="form-row">
                                <td class="form-row">
                                    <input type="text" id="panel" name="production[notClean][<%= num %>][panel]"
                                        placeholder="panel_name" value="<%= nc.panel %>" required>
                                </td>
                                <td class="form-row">
                                    <input type="number" id="length" name="production[notClean][<%= num %>][length]"
                                        placeholder="metres" value="<%= nc.length %>" required>
                                </td>
                                <td class="form-row">
                                    <input type="button" id="add"
                                        onClick="addAnotherNC(parentNode.parentNode.parentNode.parentNode.parentNode)"
                                        value="+ panel">
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
                <button type="button" class="collapsible" id="LHD-report">LHD Report</button>
                <div class="content">
                    <table class="form-row">
                        <tbody>
                            <% production.LHD.forEach(lhd=>{ %>
                            <% num++ %>
                            <tr class="form-row">
                                <td class="form-row">
                                    <input type="number" id="coyNumber" name="production[LHD][<%= num %>][coyNumber]"
                                        placeholder="operator_coy_number" value="<%= lhd.coyNumber %>" required>
                                </td>
                                <td class="form-row">
                                    <input type="text" id="LHDnumber" name="production[LHD][<%= num %>][LHDnumber]"
                                        placeholder="LHD_number" value="<%= lhd.LHDnumber %>" required>
                                </td>
                                <td class="form-row">
                                    <input type="button" id="add"
                                        onClick="addAnotherLHD(parentNode.parentNode.parentNode.parentNode.parentNode)"
                                        value="+ LHD">
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
                <button type="button" class="collapsible" id="comments">Comments</button>
                <div class="content">
                    <br>
                    <textarea name="production[general][1][comments]" id="" cols="60" rows="10"></textarea>
                </div>

                <br>

                <button type="submit" id="submit">Update!</button>

            </form>
        </div>


    </div>
</div>


<%- include("../partials/sidebar") %>
<%- include("../partials/footer") %>