<%- include("../partials/header") %>

    <div class="main-body">
        <div class="element">
            <div class="element2">
                <form class="new-production" id="new-production" action="/sections/<%= production.section.id %>/production/<%= production._id %>?_method=PUT" method="post">

                    <h2>Edit <%= production.section.name %>'s Production Report</h2>

                    <div style="display: none;" class="fromDB">
                        <p id="productionShifts">
                            <%= JSON.stringify(locals.foundDates1) %>
                        </p>
                         <p id="target">
                            <% let target = production.section.forecast/production.section.plannedAdvance %>
                         </p>   
                    </div>

                    <p id="call">
                        <%= production.section.forecast/production.section.plannedAdvance %>
                    </p>
                    
                    <h3>
                        <%= production.created.toDateString() %>
                    </h3>
                    <div class="shift">
                        <% if(production.general[0].shift === "morning"){ %>
                            <input type="radio" id="morning" name="production[general][1][shift]" id="morning" value="morning" onchange="shiftSelector(event)" checked required>
                            <label for="morning">Morning Shift</label>
                        <% } else { %>
                            <input type="radio" id="night" name="production[general][1][shift]" id="night" value="night" onchange="shiftSelector(event)" checked required>
                            <label for="night">Night Shift</label>
                        <% } %>
                    </div>

                    <br>


                    <% if (production.general[0].shift === "morning") { %>

                    <button id="blast-report-heading" type="button" class="collapsible">Blasted Panels Report (Target = <span id="target-number"><%= target %></span>m)</button>
                    <div class="content" id="blast-report">
                        <table class="form-row">
                            <tbody>
                                <% let numBlast = 0 %>
                                <% production.blast.forEach((b, c) => { %>
                                <% numBlast++ %>
                                    <tr id="inputs" class="form-row">
                                        <td class="form-row">
                                            <input type="text" id="panel" name="production[blast][<%= numBlast %>][panel]" placeholder="panel_name" value="<%= b.panel %>" required>
                                        </td>
                                        <td class="form-row">
                                            <input type="number" id="length" name="production[blast][<%= numBlast %>][length]" placeholder="metres" min="0" value="<%= b.length %>" required>
                                        </td>
                                        <% if(c === 0){ %>
                                            <td class="form-row">
                                                <input type="button" id="addPanel" value="+ panel" onClick="addAnotherField(parentNode.parentNode.parentNode.parentNode.parentNode)">
                                            </td>
                                        <% } %>
                                        <% if(c !== 0){ %>
                                            <td class="form-row">
                                                <a href="#" onclick="out(this.parentNode.parentNode)" id="out">Delete</a>
                                            </td>
                                        <% } %>
                                    </tr>
                                <% }) %>

                            </tbody>
                        </table>
                    </div>

                    <% } %>

                    <button type="button" class="collapsible" id="clean-report">Cleaned Panels Report</button>
                    <div class="content">
                        <table class="form-row">
                            <tbody>
                                <% let numClean = 0 %>
                                <% production.clean.forEach((c, i) => { %>
                                <% numClean++ %>
                                    <tr class="form-row">
                                        <td class="form-row">
                                            <input type="text" id="panel" name="production[clean][<%= numClean %>][panel]" placeholder="panel_name" value="<%= c.panel %>" required>
                                        </td>
                                        <td class="form-row">
                                            <input type="number" id="length" name="production[clean][<%= numClean %>][length]" min="0" placeholder="metres" value="<%= c.length %>" required>
                                        </td>
                                        <!-- <td class="form-row">
                                            <input type="number" id="advance" name="production[clean][<%= numClean %>][advance]" placeholder="advance" min="0" step="0.1" value="<%= c.advance%>" required>
                                        </td> -->
                                        <% if(i === 0){ %>
                                            <td class="form-row">
                                                <input type="button" id="add" onClick="addAnotherClean(parentNode.parentNode.parentNode.parentNode.parentNode)" value="+ panel">
                                            </td>
                                        <% } %>

                                        <% if(i !== 0){ %>
                                            <td class="form-row">
                                                <a href="#" onclick="out(this.parentNode.parentNode)" id="out">Delete</a>
                                            </td>
                                        <% } %>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                    <button type="button" class="collapsible" id="support-report">Supported Panels Report</button>
                    <div class="content">
                        <table class="form-row">
                            <tbody>
                                <% let numSupport = 0 %>
                                <% production.support.forEach((s, i) => { %>
                                <% numSupport++ %>
                                    <tr class="form-row">
                                        <td class="form-row">
                                            <input type="text" id="panel" name="production[support][<%= numSupport %>][panel]" placeholder="panel_name" value="<%= s.panel %>" required>
                                        </td>
                                        <td class="form-row">
                                            <input type="number" id="length" name="production[support][<%= numSupport %>][length]" placeholder="metres" min="0" value="<%= s.length %>" required>
                                        </td>
                                        <td class="form-row">
                                            <input type="number" id="bolts" name="production[support][<%= numSupport %>][bolts]" placeholder="bolts" min="0" value="<%= s.bolts %>" required>
                                        </td>
                                        <td class="form-row">
                                            <input type="number" id="anchors" name="production[support][<%= numSupport %>][anchors]" placeholder="anchors" min="0" value="<%= s.anchors %>" required>
                                        </td>
                                        <td class="form-row">
                                            <% if(i === 0){ %>
                                                <label style="display: block;" for="bolter">Bolter/RDO</label>
                                            <% } %>
                                            <select id="bolter" class="used-bolter" name="production[support][<%= numSupport %>][machine]" required>
                                                <option selected value="<%= s.machine %>"><%= s.machine %></option>
                                                <% bolters.forEach(e => { %>
                                                    <% if(e.name !== s.machine){ %>
                                                        <option value="<%= e.name %>"><%= e.name %></option>
                                                    <% } %>
                                                <% }) %>
                                                <option value="RDO">RDO</option>
                                            </select>
                                        </td>

                                        <% if(i === 0){ %>
                                            <td class="form-row">
                                                <input type="button" id="add" onClick="addAnotherSupport(parentNode.parentNode.parentNode.parentNode.parentNode)" value="+ panel">
                                            </td>
                                        <% } %>

                                        <% if(i !== 0){ %>
                                            <td class="form-row">
                                                <a href="#" onclick="out(this.parentNode.parentNode)" id="out">Delete</a>
                                            </td>
                                        <% } %>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                    <button type="button" class="collapsible" id="drill-report">Drilled Panels Report</button>
                    <div class="content">
                        <table class="form-row">
                            <tbody>
                                <% let numDrill = 0 %>
                                <% production.drill.forEach((d, i) => { %>
                                <% numDrill++ %>
                                    <tr class="form-row">
                                        <td class="form-row">
                                            <input type="text" id="panel" name="production[drill][<%= numDrill %>][panel]" placeholder="panel_name" value="<%= d.panel %>" required>
                                        </td>
                                        <td class="form-row">
                                            <input type="number" id="length" name="production[drill][<%= numDrill %>][length]" placeholder="metres" min="0" value="<%= d.length %>" required>
                                        </td>
                                        <td class="form-row">
                                            <input type="number" id="holes" name="production[drill][<%= numDrill %>][holes]" placeholder="#holes" min="0" value="<%= d.length %>" required>
                                        </td>

                                        <td class="form-row">
                                            <% if(i === 0){ %>
                                                <label style="display: block;" for="drillRig">Drill Rig</label>
                                            <% } %>
                                            <select name="production[drill][<%= numDrill %>][drillRig]" id="drillRig" class="used-drill-rig" required>
                                                <option selected value="<%= d.drillRig %>"><%= d.drillRig %></option>
                                                <% drillRigs.forEach(e => { %>
                                                    <% if(e.name !== d.drillRig){ %>
                                                        <option value="<%= e.name %>"><%= e.name %></option>
                                                    <% } %>
                                                <% }) %>
                                                <option value="RDO">RDO</option>
                                            </select>
                                        </td>

                                        <% if(i === 0){ %>
                                            <td class="form-row">
                                                <input type="button" id="add" onClick="addAnotherDrilled(parentNode.parentNode.parentNode.parentNode.parentNode)" value="+ panel">
                                            </td>
                                        <% } %>

                                        <% if(i !== 0){ %>
                                            <td class="form-row">
                                                <a href="#" onclick="out(this.parentNode.parentNode)" id="out">Delete</a>
                                            </td>
                                        <% } %>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                    <button type="button" class="collapsible" id="prepared-report">Prepared Panels (Marked)</button>
                    <div class="content">
                        <table class="form-row">
                            <tbody>
                                <% let numPrep = 0 %>
                                <% production.prep.forEach((p, i)=> { %>
                                <% numPrep++ %>
                                    <tr class="form-row">
                                        <td class="form-row">
                                            <input type="text" id="panel" name="production[prep][<%= numPrep %>][panel]" placeholder="panel_name" value="<%= p.panel %>" required>
                                        </td>
                                        <td class="form-row">
                                            <input type="number" id="length" name="production[prep][<%= numPrep %>][length]" placeholder="metres" value="<%= p.length %>" required>
                                        </td>

                                        <% if(i === 0){ %>
                                            <td class="form-row">
                                                <input type="button" id="add" onClick="addAnotherPrepared(parentNode.parentNode.parentNode.parentNode.parentNode)" value="+ panel">
                                            </td>
                                        <% } %>

                                        <% if(i !== 0){ %>
                                            <td class="form-row">
                                                <a href="#" onclick="out(this.parentNode.parentNode)" id="out">Delete</a>
                                            </td>
                                        <% } %>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                    <button type="button" class="collapsible" id="notClean-report">Not Cleaned Report (Including Backlash)</button>
                    <div class="content">
                        <table class="form-row">
                            <tbody>
                                <% let numNC = 0 %>
                                <% production.notClean.forEach((nc, i) => { %>
                                <% numNC++ %>
                                    <tr class="form-row">
                                        <td class="form-row">
                                            <input type="text" id="panel" name="production[notClean][<%= numNC %>][panel]" placeholder="panel_name" value="<%= nc.panel %>" required>
                                        </td>
                                        <td class="form-row">
                                            <input type="number" id="length" name="production[notClean][<%= numNC %>][length]" placeholder="metres" min="0" value="<%= nc.length %>" required>
                                        </td>

                                        <% if(i === 0){ %>
                                            <td class="form-row">
                                                <input type="button" id="add" onClick="addAnotherNC(parentNode.parentNode.parentNode.parentNode.parentNode)" value="+ panel">
                                            </td>
                                        <% } %>

                                        <% if(i !== 0){ %>
                                            <td class="form-row">
                                                <a href="#" onclick="out(this.parentNode.parentNode)" id="out">Delete</a>
                                            </td>
                                        <% } %>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                    <button type="button" class="collapsible" id="LHD-report">LHD Report</button>
                    <div class="content">
                        <table class="form-row">
                            <tbody>
                                <% let numLHD = 0 %>
                                <% production.LHD.forEach((lhd, i) => { %>
                                <% numLHD++ %>
                                    <tr class="form-row">
                                        <td class="form-row">
                                            <input type="number" id="coyNumber" name="production[LHD][<%= numLHD %>][coyNumber]" placeholder="operator_#" min="0" value="<%= lhd.coyNumber %>"
                                                required>
                                        </td>

                                        <td class="form-row">
                                            <% if(i === 0){ %>
                                                <label style="display: block;" for="LHDnumber">LHD</label>
                                            <% } %>
                                            <select id="LHDnumber" name="production[LHD][<%= numLHD %>][LHDnumber]" class="used-LHD" required>
                                                <option selected value="<%= lhd.LHDnumber %>"><%= lhd.LHDnumber %></option>
                                                <% LHDs.forEach(e => { %>
                                                    <% if(e.name !== lhd.LHDnumber){ %>
                                                        <option value="<%= e.name %>"><%= e.name %></option>
                                                    <% } %>
                                                <% }) %>
                                            </select>
                                        </td>

                                        <td class="form-row">
                                            <input type="number" id="LHDbuckets" name="production[LHD][<%= numLHD %>][buckets]" placeholder="buckets" value="<%= lhd.buckets %>" required>
                                        </td>

                                        <% if(i === 0){ %>
                                            <td class="form-row">
                                                <input type="button" id="add" onClick="addAnotherLHD(parentNode.parentNode.parentNode.parentNode.parentNode)" value="+ LHD">
                                            </td>
                                        <% } %>

                                        <% if(i !== 0){ %>
                                            <td class="form-row">
                                                <a href="#" onclick="out(this.parentNode.parentNode)" id="out">Delete</a>
                                            </td>
                                        <% } %>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                    <button type="button" class="collapsible" id="comments">Comments</button>
                    <div class="content">
                        <br>
                        <textarea name="production[general][1][comments]" id="comments-box" cols="60" rows="10"><%= production.general[0].comments %></textarea>
                    </div>

                    <br>

                    <button type="submit" id="submit">Update</button>

                </form>
            </div>
            <br>
            <div>
                <a href="/sections/<%= production.section.id %>/production/<%= production._id %>">&#11013 Back</a>
            </div>


        </div>
    </div>


<%- include("../partials/sidebar") %>
<%- include("../partials/footer") %>