<%- include("../partials/header") %>

<div class="main-body">
    <div class="element">
        <div class="element2">
            <div id="second-element2" class="element2">
                <div class="heading">
                    <h2>Production Report</h2>

                    <p style="display: none;" class="<% if (title === 'production-dash') { %> selected  <% } %>">
                        Ramushu Ronny
                    </p>


                    <div id="fromDB">
                        <p>
                            <%= sections %>
                            <% const MOs = [] %>
                            <% sections.forEach(section => { %>
                                <% if (MOs.indexOf(section.mineOverseer.name) === -1) { %>
                                    <% MOs.push(section.mineOverseer.name) %> 
                                <% } %>
                            <% }) %>
                        </p>
                    </div>

                    <div id="DB" style="display: none;">
                        <%= JSON.stringify(production) %>
                    </div>

                    <div id="DBS" style="display: none;">
                        <%= JSON.stringify(sections) %>
                    </div>

                    <div id="filterDiv" class="availableFilters">
                        <input type="date" id="dateFilter" oninput="dateChange(this)">
                        <select name="" id="moFilter" oninput="dateChange(this)">
                            <option value="allMO" selected>--MO--</option>
                            <% MOs.forEach(mo => { %>
                                <option value="<%= mo %>"><%= mo %></option>
                            <% }) %>
                        </select>
                        <select name="" id="sectionFilter" oninput="dateChange(this)" disabled>
                            <option value="allSections" selected>--section--</option>
                            <% locals.sections.forEach(section => { %>
                                <option value="<%= section.name %>"><%= section.name %></option>
                            <% }) %>
                        </select>
                    </div>

                    <div class="myBtnContainer" id="myBtnContainer">
                        <button class="btn" id="blast-progs" onclick="filter('blast-progs')">Progressive Blast</button>
                        <button class="btn" id="charts" onclick="filter('charts')">Graphs</button>
                    </div>
                </div>


                <!-- This div is the container for day, afternoon and night shift report summaries -->
                <div id="tables"></div>

                <!-- This section is a container for progressive blast table -->
                <section id="blast-prog" class="filterDiv blast-progs">
                    <div style="display: flex; align-items: center; justify-content: center;">
                        <div  class="availableFilters">
                            <label for="startDate">From:</label>
                            <input type="date" id="startDate" oninput="blastFilter(event)">
                            <label for="endDate">To:</label>
                            <input type="date" id="endDate" oninput="blastFilter(event)">
                        </div>
                    </div>
                    <br>

                    <table id="progressives"></table>
                </section>


                    <!-- This section is a container for charts (progressive and daily production) -->
                <section id="prod_charts" class="prod_charts filterDiv">
                    <div style="display: flex; align-items: center; justify-content: center;">
                        <div>
                            <label for="startdate">From:</label>
                            <input type="date" onchange="drawProductionGraph()" id="startdate" value="">
                            <label for="enddate">To:</label>
                            <input type="date" onchange="drawProductionGraph()" id="enddate" value="">
                            <label for="section">Section:</label>
                            <select name="" id="selectedSection" onchange="drawProductionGraph()">
                                <% locals.sections.forEach(el => { %>
                                    <option value=<%=el.name%>><%=el.name%></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <div>
                        <canvas id="draw"></canvas>
                        <canvas id="drawProgressive"></canvas>
                    </div>
                </section>
            </div>

            <% if (locals.currentUser) { %>
                <% const occ = ["Miner", "Supervisor(Shift)", "Mine_Overseer"]%>
                <% if (locals.currentUser.isAdmin ||  occ.indexOf(locals.currentUser.occupation) > -1) { %>
                    <hr>
                    <a class="button" href="sections/sectionId/production/new">Add New Production Report</a>
                <% } %>
            <% } %>
        </div>
    </div>
</div>






<%- include("../partials/sidebar") %>
<%- include("../partials/footer") %>