<%- include("../partials/header") %>

    <div class="main-body">
        <div class="element">
            <div class="element2">
                <form class="new-production" id="new-production" action="/sections/<%= section._id %>/production" method="post">

                    <h2> <%= section.name %>'s Production Report </h2>
                    <div style="display: none;" class="fromDB">
                        <p id="productionShifts">
                            <%= JSON.stringify(locals.foundDates1) %>
                        </p>
                         <p id="target">
                            <% let target = section.forecast/section.plannedAdvance %>
                         </p>   
                         <p id="panelsAdvanced">
                            <%= JSON.stringify(locals.panelsAdvanced) %>
                         </p>   
                         <p id="panelsAdvancedDate">
                            <%= JSON.stringify(locals.panelsAdvancedDate) %>
                         </p>   
                    </div>
                    
                    <p id="call">
                        <%= section.forecast/section.plannedAdvance %>
                    </p>
                    <h3>
                        <%= new Date().toDateString() %>
                    </h3>
                    <div class="shift">
                        <% locals.shifts.forEach(shift => { %>
                            <% if (shift.name === "MORNING") { %>
<<<<<<< HEAD
                                <input style="margin: 3px;" type="radio" name="production[general][1][shift]" id="<%= shift.name.toLowerCase() %>" value="<%= shift.name.toLowerCase() %>" checked required onchange="shiftSelector(event)">
                                <label for="<%= shift.name.toLowerCase() %>"><%= shift.name %></label>
                            <% } else { %>
                                <input style="margin: 3px;" type="radio" name="production[general][1][shift]" id="<%= shift.name.toLowerCase() %>" value="<%= shift.name.toLowerCase() %>" required onchange="shiftSelector(event)">
                                <label for="<%= shift.name.toLowerCase() %>"><%= shift.name %></label>
                            <% } %>
                        <% }) %>
                        <!-- <input type="radio" name="production[general][1][shift]" id="morning" value="morning" onchange="shiftSelector(event)" checked>
                        <label for="morning">Morning Shift</label>
                        <input type="radio" name="production[general][1][shift]" id="night" value="night" onchange="shiftSelector(event)" required>
                        <label for="night">Night Shift</label> -->
=======
                                <input style="margin: 3px;" type="radio" name="production[general][1][shift]" id="<%= shift.name.toLowerCase() %>" value="<%= shift.name.toLowerCase() %>" checked required data-blast="<%= shift.isBlasting %>" onchange="shiftSelector(event)">
                                <label for="<%= shift.name.toLowerCase() %>"><%= shift.name %></label>
                            <% } else { %>
                                <input style="margin: 3px;" type="radio" name="production[general][1][shift]" id="<%= shift.name.toLowerCase() %>" value="<%= shift.name.toLowerCase() %>" required data-blast="<%= shift.isBlasting %>" onchange="shiftSelector(event)">
                                <label for="<%= shift.name.toLowerCase() %>"><%= shift.name %></label>
                            <% } %>
                        <% }) %>
                        
>>>>>>> mash
                    </div>
                    <br>
                    <% if(locals.currentUser && locals.currentUser.isAdmin){ %>
                        <input type="date" name="production[created]" id="todayDate" oninput="checkCallAchieved4Date(event)">
<<<<<<< HEAD
=======
                    <% } else { %>
                        <input type="date" name="production[created]" id="todayDate" oninput="checkCallAchieved4Date(event)" readonly hidden>
>>>>>>> mash
                    <% } %>

                    <br>
                    <% if (locals.panelsAdvanced.length > 0) { %>
                        <button id="advance-report-heading" type="button" class="collapsible">Advanced Panels Report (<small>panels blasted by previous shift)</small></button>
                        <div class="content" id="advance-report">
                            <table class="form-row">
                                <tbody>
                                    <% locals.panelsAdvanced.forEach((p, i) => { %>
                                        <tr id="inputs" class="form-row">
                                            <td class="form-row">
                                                <input type="text" id="panel" name="advanceEdit[blast][<%= i %>][panel]" value="<%= p.panel %>" readonly required>
                                            </td>
                                            <td class="form-row">
                                                <input type="number" min="0" id="length" name="advanceEdit[blast][<%= i %>][length]" value="<%= p.length %>" readonly required>
                                            </td>
                                            <td class="form-row">
                                                <input type="text" id="id" name="advanceEdit[blast][<%= i %>][id]" value="<%= p.id %>" readonly hidden required>
                                            </td>
                                            <td class="form-row">
                                                <input type="number" min="0" step="0.1" id="advance" name="advanceEdit[blast][<%= i %>][advance]" placeholder="advance" required>
                                            </td>
                                        </tr>
                                        <% }) %>
                                </tbody>
                            </table>
                        </div>
                    <% } %>
                    <input type="text" hidden value="false" name="production[general][1][isProduction]" id="isProductionShift" readonly>
                    <button id="blast-report-heading" type="button" class="collapsible">Blasted Panels Report (Target = <span id="target-number"><%= target %></span>m)</button>
                    <div class="content" id="blast-report">
                        <table class="form-row">
                            <tbody>
                                <tr id="inputs" class="form-row">
                                    <td class="form-row">
                                        <input type="text" id="panel" name="production[blast][1][panel]" placeholder="panel_name" required>
                                    </td>
                                    <td class="form-row">
                                        <input type="number" min="0" id="length" name="production[blast][1][length]" placeholder="metres" oninput="checkCallAchieved(event)" required>
                                    </td>
                                    <td class="form-row">
                                        <input type="button" id="addPanel" value="+ panel" onClick="addAnotherField(parentNode.parentNode.parentNode.parentNode.parentNode)">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- </div> -->
                    <button type="button" class="collapsible" id="clean-report">Cleaned Panels Report</button>
                    <div class="content">
                        <table class="form-row">
                            <tbody>
                                <tr class="form-row">
                                    <td class="form-row">
                                        <input type="text" id="panel" name="production[clean][1][panel]"
                                            placeholder="panel_name" required>
                                    </td>
                                    <td class="form-row">
                                        <input type="number" min="0" id="length" name="production[clean][1][length]" placeholder="metres" required>
                                    </td>
                                    <td class="form-row">
                                        <input type="button" id="add"
                                            onClick="addAnotherClean(parentNode.parentNode.parentNode.parentNode.parentNode)"
                                            value="+ panel">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button type="button" class="collapsible" id="support-report">Supported Panels
                        Report</button>
                    <div class="content">
                        <table class="form-row">
                            <tbody>
                                <tr class="form-row">
                                    <td class="form-row">
                                        <input type="text" id="panel" name="production[support][1][panel]"
                                            placeholder="panel_name" required>
                                    </td>
                                    <td class="form-row">
                                        <input type="number" id="length" min="0" name="production[support][1][length]"
                                            placeholder="metres" required>
                                    </td>
                                    <!--  -->
                                    <td class="form-row">
                                        <input type="number" id="bolts" min="0" name="production[support][1][bolts]"
                                            placeholder="bolts" required>
                                    </td>
                                    <td class="form-row">
                                        <input type="number" min="0" id="anchors" name="production[support][1][anchors]"
                                            placeholder="anchors" required>
                                    </td>
                                    <td class="form-row">
                                        <label style="display: block;" for="bolter">Bolter/RDO</label>
                                            <select class="used-bolter" name="production[support][1][machine]" id="bolter" required>
                                                <option selected disabled></option>
                                                <% bolters.forEach(e => { %>
                                                    <option value="<%= e.name %>"><%= e.name %></option>
                                                <% }) %>
                                                <option value="RDO">RDO</option>
                                            </select>
                                    </td>
                                    <td class="form-row">
                                        <input type="button" id="add" onClick="addAnotherSupport(parentNode.parentNode.parentNode.parentNode.parentNode)" value="+ panel">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button type="button" class="collapsible" id="drill-report">Drilled Panels Report</button>
                    <div class="content">
                        <table class="form-row">
                            <tbody>
                                <tr class="form-row">
                                    <td class="form-row">
                                        <input type="text" id="panel" name="production[drill][1][panel]"
                                            placeholder="panel_name" required>
                                    </td>
                                    <td class="form-row">
                                        <input type="number" min="0" id="length" name="production[drill][1][length]"
                                            placeholder="metres" required>
                                    </td>
                                    <td class="form-row">
                                        <input type="number" id="holes" name="production[drill][1][holes]" min="0"
                                            placeholder="#holes" required>
                                    </td>

                                    <td class="form-row">
                                        <label style="display: block;" for="drillRig">Drill Rig</label>
                                        <select name="production[drill][1][drillRig]" id="drillRig" class="used-drill-rig" required>
                                            <option></option>
                                            <% drillRigs.forEach(e => { %>
                                                <option value="<%= e.name %>"><%= e.name %></option>
                                            <% }) %>
                                            <option value="RDO">RDO</option>
                                        </select>
                                    </td>

                                    <td class="form-row">
                                        <input type="button" id="add"
                                            onClick="addAnotherDrilled(parentNode.parentNode.parentNode.parentNode.parentNode)"
                                            value="+ panel">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button type="button" class="collapsible" id="prepared-report">Prepared Panels (Marked)</button>
                    <div class="content">
                        <table class="form-row">
                            <tbody>
                                <tr class="form-row">
                                    <td class="form-row">
                                        <input type="text" id="panel" name="production[prep][1][panel]"
                                            placeholder="panel_name" required>
                                    </td>
                                    <td class="form-row">
                                        <input type="number" min="0" id="length" name="production[prep][1][length]"
                                            placeholder="metres" required>
                                    </td>
                                    <td class="form-row">
                                        <input type="button" id="add"
                                            onClick="addAnotherPrepared(parentNode.parentNode.parentNode.parentNode.parentNode)"
                                            value="+ panel">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button type="button" class="collapsible" id="notClean-report">Not Cleaned Report (Including Backlash)</button>
                    <div class="content">
                        <table class="form-row">
                            <tbody>
                                <tr class="form-row">
                                    <td class="form-row">
                                        <input type="text" id="panel" name="production[notClean][1][panel]"
                                            placeholder="panel_name" required>
                                    </td>
                                    <td class="form-row">
                                        <input type="number" min="0" id="length" name="production[notClean][1][length]"
                                            placeholder="metres" required>
                                    </td>
                                    <td class="form-row">
                                        <input type="button" id="add"
                                            onClick="addAnotherNC(parentNode.parentNode.parentNode.parentNode.parentNode)"
                                            value="+ panel">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button type="button" class="collapsible" id="LHD-report">LHD Report</button>
                    <div class="content">
                        <table class="form-row">
                            <tbody>
                                <tr class="form-row">
                                    <td class="form-row">
                                        <input type="number" min="0" id="coyNumber" name="production[LHD][1][coyNumber]" placeholder="operator_#" required>
                                    </td>

                                    <td class="form-row">
                                        <label style="display: block;" for="LHDnumber">LHD</label>
                                        <select name="production[LHD][1][LHDnumber]" id="LHDnumber" class="used-LHD" required>
                                            <option selected disabled></option>
                                            <% LHDs.forEach(e => { %>
                                                <option value="<%= e.name %>"><%= e.name %></option>
                                            <% }) %>
                                            <option value="Other">Other</option>
                                        </select>
                                    </td>

                                    <td class="form-row">
                                        <input type="number" min="0" id="LHDbuckets" name="production[LHD][1][buckets]" placeholder="buckets">
                                    </td>
                                    <td class="form-row">
                                        <input type="button" id="add" onClick="addAnotherLHD(parentNode.parentNode.parentNode.parentNode.parentNode)" value="+ LHD">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button type="button" class="collapsible" id="comments">Target Not Achieved. Why?</button>
                    <div class="content">
                        <br>
                        <textarea name="production[general][1][comments]" id="comments-box" cols="60" rows="10" placeholder="Be brief. Please do not write all breakdowns unless they contributed a lost blast." required></textarea>
                    </div>

                    <br>

                    <button type="submit" id="submit">Submit</button>

                </form>
                <br>
                <div>
                    <a href="/production">Dashboard</a> |
                    <a href="/sections">Sections</a> |
                    <a href="/sections/<%= section._id %>"> <%= section.name %> </a>
                </div>
            </div>
        </div>
    </div>



<%- include("../partials/sidebar") %>
<%- include("../partials/footer") %>