<%- include("../partials/header") %>
<div class="main-body">
    <div class=element>
        <div class="element2">
            <h2>Reported Production: <%= reported.section.name %></h2>
            <p>
                <!-- <input type="date" name="" id="" value="2020-10-11"> -->
                <%= reported.created.toDateString() %>
            </p>
            <table>
                <thead>
                    <tr>
                        <th colspan="2">Blasted</th>
                    </tr>
                    <th>Panels</th>
                    <th>Length (m)</th>
                </thead>
                <tbody>
                    <% reported.blast.forEach(function(e){ %>
                    <tr>
                        <td>
                            <%= e.panel %>
                        </td>
                        <td>
                            <%= e.length %>
                        </td>
                    </tr>
                    <% }) %>

                    <tr>
                        <td style="background-color: aliceblue;" colspan="2"></td>
                    </tr>

                    <tr>
                        <th colspan="3">Cleaned</th>
                    </tr>

                    <% reported.clean.forEach(function(e){ %>
                    <tr>
                        <td>
                            <%= e.panel %>
                        </td>
                        <td>
                            <%= e.length %>
                        </td>
                    </tr>
                    <% }) %>
                    <tr>
                        <td style="background-color: aliceblue;" colspan="2"></td>
                    </tr>
                    <tr>
                        <th colspan="2">Supported</th>
                    </tr>

                    <% reported.support.forEach(function(e){ %>
                    <tr>
                        <td>
                            <%= e.panel %>
                        </td>
                        <td>
                            <%= e.length %>
                        </td>
                    </tr>
                    <% }) %>
                    <tr>
                        <td style="background-color: aliceblue;" colspan="2"></td>
                    </tr>
                    <tr>
                        <th colspan="2">Prep'd</th>
                    </tr>

                    <% reported.prep.forEach(function(e){ %>
                    <tr>
                        <td>
                            <%= e.panel %>
                        </td>
                        <td>
                            <%= e.length %>
                        </td>
                    </tr>
                    <% }) %>
                    <tr>
                        <td style="background-color: aliceblue;" colspan="2"></td>
                    </tr>
                    <tr>
                        <th colspan="2">Drilled</th>
                    </tr>

                    <% reported.drill.forEach(function(e){ %>
                    <tr>
                        <td>
                            <%= e.panel %>
                        </td>
                        <td>
                            <%= e.length %>
                        </td>
                    </tr>
                    <% }) %>
                    <tr>
                        <td style="background-color: aliceblue;" colspan="2"></td>
                    </tr>
                    <tr>
                        <th colspan="2">Not Clean</th>
                    </tr>

                    <% reported.notClean.forEach(function(e){ %>
                    <tr>
                        <td>
                            <%= e.panel %>
                        </td>
                        <td>
                            <%= e.length %>
                        </td>
                    </tr>
                    <% }) %>
                    <tr>
                        <td style="background-color: aliceblue;" colspan="2"></td>
                    </tr>
                    <tr>
                        <th colspan="2">LHDs</th>
                    </tr>

                    <tr>
                        <th>Operator</th>
                        <th>LHD Number</th>
                    </tr>

                    <% reported.LHD.forEach(function(e){ %>
                    <tr>
                        <td>
                            <%= e.coyNumber %>
                        </td>
                        <td>
                            <%= e.LHDnumber %>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
            <br>
            <p>
                <a href="/production">Back</a>
            </p>
            <div class="admin">
                <a href="/sections/<%= reported.section.id %>/production/<%= reported._id %>/edit">Edit</a>
                <form action="/sections/<%= reported.section.id %>/production/<%= reported._id %>?_method=DELETE"
                    method="POST">
                    <button id="delete" type="submit">Delete!</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- <div>
    <table style="display: flex;">
        <tr>
            <td>1</td>
            <td rowspan="3">2</td>
            <td>3</td>
        </tr>
        <tr>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
        </tr>
        <tr>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            <td>11</td>
        </tr>
    </table>
</div> -->



<%- include("../partials/sidebar") %>
<%- include("../partials/footer") %>