<%- include("../partials/header") %>
 <div class="main-body">
    <div class=element>
        <div class="element2">
            <h2>Reported Production: <%= reported.section.name %></h2>
            <p>
                <%= reported.created.toDateString() %>
            </p>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Panel(s)</th>
                        <th>Length(m)</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Call</td>
                        <td></td>
                        <td></td>
                    </tr>
                        
                    <tr>
                        <td>Blasted</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Cleaned</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Support</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Prep'd</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Drilled</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Not Clean</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>LHDs</td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tr>
                </tbody>
            </table>
            <div class="admin">
                <a href="/sections/<%= reported.section.id %>/production/<%= reported._id %>/edit">Edit</a>
            </div>
        </div>
    </div>
 </div>

 

<%- include("../partials/sidebar") %>
<%- include("../partials/footer") %>