<%- include("../partials/header") %>


<div class="main-body">
    <div class="element">
        <h3>Register New User</h3>
        <% if(success && success.length) {%>
        <div class="success"><%= success %></div>
        <% } %>
        <% if(error && error.length) {%>
        <div class="error"><%= error %></div>
        <% } %>
        <form method="POST" action="/register">
            <table class="form-row">
                <!-- <tr>
                    <td class="form-row">
                        <label for="username">Username:</label>
                    </td>
                    <td class="form-row">
                        <input id="username" type="text" placeholder="my_username">
                    </td>
                </tr> -->
                <tr>
                    <td class="form-row">
                        <label for="username">Username:</label>
                    </td>
                    <td class="form-row">
                        <input id="username" type="text" name="username" placeholder="my_preferred_name" required>
                    </td>
                </tr>
                <tr>
                    <td class="form-row">
                        <label for="email_address">Email Address:</label>
                    </td>
                    <td class="form-row">
                        <input id="email_address" type="email" name="email" placeholder="my_email_address" required>
                    </td>
                </tr>
                <tr>
                    <td class="form-row">
                        <label for="password">Password:</label>
                    </td>
                    <td class="form-row">
                        <input id="password" type="password" name="password" placeholder="my_password" required>
                    </td>
                </tr>
                <tr>
                    <td class="form-row" colspan="2">
                        <input style="width: 100%;" type="submit" value="Register!">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<%- include("../partials/sidebar") %>
<%- include("../partials/footer") %>