<%- include("../partials/header") %>

<div class="main-body">
    <div class="element">
        <h2>Edit Shift Class: <%= locals.shiftClass.name %></h2>
        <form action="/shifts/<%= locals.shiftClass._id %>?_method=PUT" method="post">
            <div class="flex-form">
                <div class="flex-row">
                    <label for="shift_name">Name/ID</label>
                    <input type="text" id="shift_name" name="shift[name]" value="<%= locals.shiftClass.name  %>" onkeyup="validatePanelName(event)" size="10" required>
                </div>
                <div class="flex-row">
                    <label for="shift_start">Start Time</label>
                    <input type="time" name="shift[start]" id="shift_start" value="<%= locals.shiftClass.start %>" required>
                </div>
                <div class="flex-row">
                    <label for="shift_end">End Time</label>
                    <input type="time" name="shift[end]" id="shift_end" value="<%= locals.shiftClass.end %>" required>
                </div>
                <div class="flex-row">
                    <label for="shift_end">Basting Shift?</label>
                    <div>
                        <% if (locals.shiftClass.isBlasting) { %>
                            <label for="blast_false">No</label>
                            <input type="radio" name="shift[isBlasting]" id="blast_false" value="false">
                            <label for="blast_true">Yes</label>
                            <input type="radio" checked name="shift[isBlasting]" id="blast_true" value="true">
                        <% } else { %>
                            <label for="blast_false">No</label>
                            <input type="radio" checked name="shift[isBlasting]" id="blast_false" value="false">
                            <label for="blast_true">Yes</label>
                            <input type="radio" name="shift[isBlasting]" id="blast_true" value="true">
                        <% } %>
                    </div>
                </div>
                <div class="flex-row">
                    <label for="shift_end">Overlaps to next day?</label>
                    <div>
                        <% if (locals.shiftClass.overlap) { %>
                            <label for="overlap_false">No</label>
                            <input type="radio" name="shift[overlap]" id="overlap_false" value="false">
                            <label for="overlap_true">Yes</label>
                            <input type="radio" checked name="shift[overlap]" id="overlap_true" value="true">
                        <% } else { %>
                            <label for="overlap_false">No</label>
                            <input type="radio" checked name="shift[overlap]" id="overlap_false" value="false">
                            <label for="overlap_true">Yes</label>
                            <input type="radio" name="shift[overlap]" id="overlap_true" value="true">
                        <% } %>
                    </div>
                </div>
                <div class="flex-row">
                    <input type="submit" value="Submit">
                </div>
            </div>
        </form>
        <p>
            <a href="/shifts/<%= locals.shiftClass._id%>">&#11013 Back</a>
        </p>
    </div>
</div>
<%- include("../partials/sidebar") %>
<%- include("../partials/footer") %>