<%- include("../partials/header") %>


    <div class="main-body">

        <div class="element">

            <h3>Edit Rehabilitated Panel <%= rehabedPanel.panel %> of <%= rehabedPanel.section.name %>
            </h3>

            <form action="/sections/<%= rehabedanel.section.id %>/redPanels/<%= rehabedPanel._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                <table class="form-row">
                    <tr>
                        <td class="form-row">
                            <label for="">Panel name:</label>
                        </td>
                        <td class="form-row">
                            <input type="text" name="redPanel[panel]" value="<%= redpanel.panel %>" required>
                        </td>
                    </tr>
                    <tr>
                        <td class="form-row">
                            <label for="">TARP red trigger(s):</label>
                        </td>
                        <td class="form-row">
                            <input type="text" name=redPanel[trigger] value="<%= redpanel.trigger %>" required>
                        </td>
                    </tr>
                    <tr>
                        <td class="form-row">
                            <label for="reportNumber">Report number:</label>
                        </td>
                        <td class="form-row">
                            <input id="reportNumber" name="redPanel[reportNumber]" type="text"
                                value="<%= redpanel.reportNumber %>" required>
                        </td>
                    </tr>
                    <tr>
                        <td class="form-row">
                            <label for="">Date panel declared:</label>
                        </td>
                        <td class="form-row">
                            <input name=redPanel[declaredDate] type="datetime-local"
                                value="<%= moment(redpanel.declaredDate).format('YYYY-MM-DD') %>" required>
                        </td>
                    </tr>
                    <p>
                        <%= moment(redpanel.declaredDate).format("YYYY-MM-DD") %>
                    </p>
                    <tr>
                        <td class="form-row">
                            <label for="">Date report issued:</label>
                        </td>
                        <td class="form-row">
                            <input name=redPanel[issueDate] type="date"
                                value="<%= moment(redpanel.issueDate).format('YYYY-MM-DD') %>" required>
                        </td>
                    </tr>
                    <tr>
                        <td class="form-row">
                            <label for="file">Attach report:</label>
                        </td>
                        <td class="form-row">
                            <input name="issuedReport" type="file" accept=".pdf" id="file">
                        </td>
                    </tr>
                    <tr>
                        <td class="form-row" colspan="2">
                            <button style="width: 100%;" type="submit">Update!</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>


<%- include("../partials/sidebar") %>
<%- include("../partials/footer") %>