 <%- include("../partials/header") %>


<div class="main-body">

    <div class="element">
        <div class="element2">
        <h2>Rehabilitated Panels</h2>
        <div id="fromDB">
            <p id="rehabed-panels">
                <%= JSON.stringify(rehabedPanels) %> 
            </p>
            <p>
                <%= rehabedPanels %>
                <% const sections = [] %>
                <% rehabedPanels.forEach(panel => { %>
                    <% if (sections.indexOf(panel.section.name) === -1) { %>
                        <% sections.push(panel.section.name) %> 
                    <% } %>
                <% }) %>
            </p>
        </div>
        <div class="availableFilters">
           <select name="" id="section-selected" onchange="rehabTARPFilters()">
               <option value="all-sections">--all sections--</option>
               <% sections.forEach(section => { %>
                    <option value="<%= section %>"><%= section %></option>
               <% }) %>
           </select>
           <label for="">From:</label>
            <input type="date" id="startDate" oninput="rehabTARPFilters()">
            <label for="">To:</label>
            <input type="date" id="endDate" oninput="rehabTARPFilters()">
        </div>

        <div id="rehabed-panels-table"></div>
        <hr>
        <a href="/redPanel">Back</a>
        </div>
    </div>
</div>


<%- include("../partials/sidebar") %>
<%- include("../partials/footer") %>