<%- include("../partials/header") %>

 <div class="main-body">

    <div class="element">
        <div>
            <h1>Rehabilitated Panel <%= rehabedPanel.panel %> of <%= rehabedPanel.section.name %></h1>
            <p>Trigger(s) - <%= rehabedPanel.trigger %></p>
            <p>Report number - <%= rehabedPanel.reportNumber %></p>
         </div>

         <p>
            <form action="/sections/<%= rehabedPanel.section.id %>/rehabedPanels/<%= rehabedPanel._id %>/download" method="get">
               <button type="submit">Download Recommendation</button>
            </form>
            <br>

            <% if( currentUser && rehabedPanel.author.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
               <form action="/sections/<%= rehabedPanel.section.id %>/rehabedPanels/<%= rehabedPanel._id %>?_method=DELETE" method="POST">
                  <button id="delete" type="submit">Delete</button>
               </form>
               <p>
                  <a href="/sections/<%= rehabedPanel.section.id %>/rehabedPanels/<%= rehabedPanel._id %>/edit">Edit</a>
               </p>
            <% } %>
         </p>
         
    </div>  
    
 </div>


<%- include("../partials/sidebar") %>
<%- include("../partials/footer") %>