<%- include("../partials/header") %>


<div class="main-body">

    <div class="element">

        <h3>Close Red Panel <%= rehabed.panel %> of <%= rehabed.section.name %></h3>
        <p style="color: red;">Add the date the panel got rehabilited</p>

        <form action="/sections/<%= rehabed.section.id %>/rehabedPanels" method="POST">
            <input type="text" name="rehabedPanel[section]" value="<%= rehabed.section.name %>" required readonly>
            <input type="text" name="rehabedPanel[sectionid]" value="<%= rehabed.section.id %>" required readonly>
            <input id="reportNumber" name="rehabedPanel[reportNumber]" type="text" value="<%= rehabed.reportNumber %>" hidden required readonly>

            <table class="form-row">
                <tr>
                    <td class="form-row">
                        <label for="">Panel name:</label>
                    </td>
                    <td class="form-row">
                        <input type="text" name="rehabedPanel[panel]" value="<%= rehabed.panel %>" required readonly>
                    </td>
                </tr>
                <tr>
                    <td class="form-row">
                        <label for="">TARP red trigger(s):</label>
                    </td>
                    <td class="form-row">
                        <input type="text" name=rehabedPanel[trigger] value="<%= rehabed.trigger %>" required readonly>
                    </td>
                </tr>
                <!-- <tr>
                    <td class="form-row">
                        <label for="reportNumber">Report number:</label>
                    </td>
                    <td class="form-row">
                        <input id="reportNumber" name="rehabedPanel[reportNumber]" type="text" value="<%= rehabed.reportNumber %>" required readonly>
                    </td>
                </tr> -->
                <tr>
                    <td class="form-row">
                        <label for="">Date panel declared:</label>
                    </td>
                    <td class="form-row">
                        <input type="text" name="rehabedPanel[declaredDate]" value="<%= moment(rehabed.declaredDate).format('D MMMM YYYY') %>" readonly required>
                        <!-- <input name=redPanel[declaredDate] type="datetime-local" required> -->
                    </td>
                </tr>
                <tr>
                    <td class="form-row">
                        <label for="">Date report issued:</label>
                    </td>
                    <td class="form-row">
                        <!-- <input name=redPanel[issueDate] type="date" required> -->
                        <input type="text" name="rehabedPanel[issueDate]" value="<%= moment(rehabed.issueDate).format('D MMMM YYYY') %>" readonly required>

                    </td>
                </tr>
                <tr>
                    <td class="form-row">
                        <label for="">Rehabilitated date:</label>
                    </td>
                    <td class="form-row">
                        <input name=rehabedPanel[rehabDate] type="datetime-local" required>
                        <!-- <input type="text" value="<%= moment(rehabed.issueDate).format('D MMMM YYYY') %>" readonly required> -->
                    </td>
                </tr>
                <tr>
                    <td class="form-row" colspan="2">
                        <button style="width: 100%;" type="submit">Close!</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>


<%- include("../partials/sidebar") %>
<%- include("../partials/footer") %>