<%- include("../partials/header") %>

<div class="main-body">
    <div class="element">
        <h2><%= foundUser.preferredName %></h2>
        <table>
            <tbody>
                <tr>
                    <td>Name</td>
                    <td><%= foundUser.preferredName %></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><%= foundUser.username %></td>
                </tr>
                <tr>
                    <td>Occupation</td>
                    <td><%= foundUser.occupation %></td>
                </tr>
                <tr>
                    <td>Department</td>
                    <td><%= foundUser.department %></td>
                </tr>
                <tr>
                    <td>Admin</td>
                    <td><%= foundUser.isAdmin %></td>
                </tr>
            </tbody>
        </table>
        <hr>
        <div>
            <a href="/users">Dashboard</a>
        </div>

        <% if(currentUser && currentUser.isAdmin){ %>
        <p>
            <a href="/user/<%= foundUser._id %>/edit">Edit</a>
        </p>
        <form action="/user/<%= foundUser._id %>?_method=DELETE" method="POST">
            <button style="display: none;" id="delete-confirm" type="submit">Delete</button>
            <button id="delete" onclick="showModal()" type="button">Delete</button>
        </form>
        <hr>
        <small>
            <form action="/forgot" method="post">
                <input id="email_address" type="email" name="username" value="<%= locals.foundUser.username%>" hidden readonly>
                <input type="submit" value="reset password">
                <!-- <a href="/forgot">Password reset</a> -->
            </form>
        </small>
        <% } %>
    </div>
</div>


<%- include("../partials/sidebar") %>
<%- include("../partials/footer") %>