<%- include("../partials/header") %>


    <div class="main-body">

        <div class="element">

            <h2>Request TARP Visit for <%= section.name %></h2>

            <form action="/sections/<%= section._id %>/newRedPanels" method="POST">
                <table class="form-row">
                    <tr>
                        <td class="form-row">
                            <label for="panel">Panel:</label>
                        </td>
                        
                        <td class="form-row">
                            <input type="text" id="panel" name="newRed[panel]" required onkeyup="validatePanelName(event)">
                        </td>
                    </tr>
                    <tr>
                        <td class="form-row">
                            <label for="TARP-triggers">TARP Red Trigger(s):</label>
                        </td>
                        <td class="form-row">
                            <textarea name="newRed[triggers]" id="TARP-triggers" cols="30" rows="5" required></textarea>
                        </td>
                    </tr>
                    
                    <tr>
                        <td class="form-row">
                            <label for="declaredDate">Date Declared Red:</label>
                        </td>
                        <td class="form-row">
                            <input  id="declaredDate" name="newRed[dateDeclared]" type="datetime-local" required>
                        </td>
                    </tr>
            
                    <tr>
                        <td class="form-row" colspan="2">
                            <button style="width: 100%;" type="submit">Submit</button>
                        </td>
                    </tr>
                </table>
            </form>
            <div>
                <a href="/redPanel">Dashboard</a> |
                <a href="/sections/<%= section._id %>"><%= section.name %></a>
            </div>
        </div>
    </div>

<%- include("../partials/sidebar") %>


<%- include("../partials/footer") %>