<%- include("../partials/header") %>

    <div class="main-body">

        <div class="element">

            <div>
                <h1>TARP Red Panel <%= newRedPanel.panel %> of: <%= newRedPanel.section.name %></h1>
                <p>Trigger(s) - <%= newRedPanel.triggers %></p>
                <p>Date declared - <%= newRedPanel.dateDeclared.toDateString() %> </p>
            </div>

            <div>
                <a href="/sections/<%= newRedPanel.section.id %>/redPanel/new?q=<%= newRedPanel._id %>">Issue Recommendation</a>
            </div>
            <hr>
            <div>
                <a href="/redPanel">Dashboard</a>
            </div>
            <% if( currentUser && newRedPanel.author.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                <p>
                    <a href="/sections/<%= newRedPanel.section.id %>/newRedPanel/<%= newRedPanel._id %>/edit">Edit</a>
                </p>
                <form action="/sections/<%= newRedPanel.section.id %>/newRedPanel/<%= newRedPanel._id %>?_method=DELETE" method="POST">
                    <button id="delete" type="submit">Delete</button>
                </form>
            <% } %>

        </div>

    </div>


<%- include("../partials/sidebar") %>
<%- include("../partials/footer") %>